*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("bg.jpg") no-repeat;
    background-size: cover;
}

.clock{
    width: 30%;
    max-height: 380vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) , 0px 10px 20px rgba(0, 0, 0, 0.7);
    height: 25vh;
    border-radius: 10px;
    padding: 18px;
}

.clock h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.clock span{
    position: relative;
    top: -12%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width:274px){
    .clock{
        max-width: 210px;
        padding: 5px;
    }
    .clock h1{
        font-size: 1.9rem;
    }
}

@media screen and (min-width:275px) and (max-width:400px) {
    .clock{
        max-width: 260px;
        padding: 5px;
    }
    .clock h1{
        font-size: 2.4rem;
    }
}